.shopping-cart {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #111;
    color: white;
    padding: 10px 20px;
    font-size: 20pt;
    cursor: pointer;
}

.shopping-cart .badge {
    color: black;
    position: absolute;
    bottom: 7px;
    right: 5px;
    background-color: yellow;
    font-size: 8pt;
}