.size-item {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  font-size: 8pt;
  color: #333;
  line-height: 2.2rem;
  text-align: center;
  background: #ddd;
  margin: 1rem 0.2rem;
  cursor: pointer;
}

.size-item.selected {
  color: #fff;
  background: #333;
}